services:
  - type: web
    name: tg-dash
    env: node
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    disk:
      name: portfolio-db
      mountPath: /opt/render/project/src
      sizeGB: 1

